@import 'tailwindcss';

:root {
  --font-family-serif: 'Fraunces', serif;
}

@theme {
  --shadow-nav: 0px 2px 25px rgba(0, 0, 0, 0.08);
  --color-primary: #006d77; /* Deep Teal */
  --color-secondary: #83c5be; /* Soft Aqua */
  --color-background: #f7f9fa; /* Page background (clean, neutral, soft) */
  --color-surface: #ffffff; /* Card backgrounds, modals */
  --color-text-primary: #1f1f1f;
  --color-text-secondary: #4f4f4f;
  --color-border: #dde5e7;
  --color-hover: #004f53;
}
